<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sample.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sample.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @sample.user_id %>
</p>

<p>
  <strong>File:</strong>
  <%= audio_tag @sample.file.url %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
