<p id="notice"><%= notice %></p>

<div class='vector sinistra'>
  <%= raw @user.svg_representation(400) %>
</div>

<div id='user_details' class='details sinistra'>
  <div id='user_name'>
    <%= @user.alias %>
  </div>

  <p>
    <strong>Nickname:</strong>
    <%= @user.nickname %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  
  <p>
    <strong>Projects:</strong>
    <ul>
      <% @user.projects.each do |project| %>
        <li>
          <%= link_to project.name, project_path(project) %>
        </li>

      <% end %>
    </ul>
  </p>
  
  
  <div class='clearfix'>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>


