<!DOCTYPE html>
<html>
<head>
  <title>Nodea Studio</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>

  <%=render partial: 'layouts/header', locals: {subtle: false}%>
  
  <div id="content">
    <%= yield %>
  </div>

  <%=render partial: 'layouts/footer'%>
  
</body>
</html>
