<!DOCTYPE html>
<html>
<head>
  <title>Nodea Studio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%=render partial: 'layouts/header', locals: {subtle: false}%>
  
  <%= yield %>

  <%=render partial: 'layouts/footer'%>
  
</body>
</html>
