<!DOCTYPE html>
<html>
<head>
  <title>Nodea Studio</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "studio/studio", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :circuit_includes %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

  <%=render partial: 'layouts/header', locals: {subtle: true}%>
  
  <%= yield %>
  
</body>
</html>
